:root * {
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
}

/* Deck */
#deal {
    width: 25%;
    height: 100%;

    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

#deck {
    height: 200px;
    aspect-ratio: 5/7;

    background-color: white;
    border-radius: 20px;

    content: 'hi';
}



/* Table */
#table {
    width: 75%;
    height: 100%;

    background-color: aquamarine;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.card-silhouette {
    height: 200px;
    aspect-ratio: 5/7;
    margin: 0 4% 0 4%;

    outline: 3px dashed rgba(0, 0, 0, 0.2);
    outline-offset: -4px;
    border-radius: 20px;
}


/* Cards */
.card {
    height: 200px;
    aspect-ratio: 5/7;
    position: absolute;
    
    pointer-events: none;
    
    transform-style: preserve-3d;
    transition: 0.5s;
}


.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;

    backface-visibility: hidden;
    border-radius: 20px;

    font-size: 40px;
    font-weight: 900;

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card-back {
    background-color: black;
}


.card.flipped {
    transform: rotateY(180deg);
}


.card-front {
    background-color: white;
    transform: rotateY(180deg);
}


.card-front > .symbols {
    width: 60%;
    aspect-ratio: 5/7;
    background-color: brown;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card .col {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card img {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
}


.card.clubs img {
    content: url(assets/clubs.svg);
}

.card.spades img {
    content: url(assets/spades.svg);
}

.card.hearts img {
    content: url(assets/hearts.svg);
}

.card.diamonds img {
    content: url(assets/diamonds.svg);
}