:root * {
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #00000050;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000008c;
}



/* Sidebar */
#side {
    width: 25%;
    height: 100%;
    position: relative;

    background-color: rgb(79, 237, 185);

    display: flex;
    justify-content: center;
    align-items: center;
}

#side #info {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;

    background-color: white;

    transition: 0.5s;
}

/* Card sizing */
.card-sizing {
    height: 20vh;
    aspect-ratio: 5/7;

    border-radius: 1rem;
}



/* Table */
#table {
    width: 75%;
    min-height: 100vh;
    height: fit-content;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: clip;

    background-color: aquamarine;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card-silhouette {
    margin: 2.5vh 3vw 2.5vh 3vw;

    outline: 3px dashed rgba(0, 0, 0, 0.2);
    outline-offset: -4px;
}

/*
@media screen and (max-width: 1000px) {
    .card-silhouette {
        height: 42.5vh;
        aspect-ratio: 5/7;
        margin: 2.5vh 2.5vh 2.5vh 2.5vh;
    
        outline: 3px dashed rgba(0, 0, 0, 0.2);
        outline-offset: -4px;
        border-radius: 1rem;
    }
  }
*/

/* Cards */
.card {
    position: absolute;
    
    color: #0E0E0E;
    font-size: 15px;
    font-weight: 900;

    pointer-events: none;
    
    transform-style: preserve-3d;
    transition: left 0.5s, top 0.5s;
}

.card.diamonds, .card.hearts {
    color: #FF2C2C;
}


.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;

    backface-visibility: hidden;
    border-radius: 1rem;

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card-back, #deck {
    background-color: white;
    background-image: url(assets/back.svg);
    background-repeat: no-repeat;
    background-size: cover;

    border: 2px #FF2C2C solid;
}


.card.flipped {
    transform: rotateY(180deg);
}


.card-front {
    background-color: white;
    transform: rotateY(180deg);
}


/* Card middle symbols */
.card-front > .symbols {
    width: 60%;
    aspect-ratio: 5/7;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card .col {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card img {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
}


.card.clubs img {
    content: url(assets/clubs.svg);
}

.card.spades img {
    content: url(assets/spades.svg);
}

.card.hearts img {
    content: url(assets/hearts.svg);
}

.card.diamonds img {
    content: url(assets/diamonds.svg);
}


/* Card corners */
.card .corners {
    width: 100%;
    height: 100%;
    position: absolute;

    left: 0;
    top: 0;
}

.card .corner {
    width: 10%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}